@media (max-width: 900px){

    .title{
        font-size: 38px;
      }
    .card{
        width: 60px;
        height: 84px;
      }
      
}

@media (max-width: 750px){

    .card{
        width: 50px;
        height: 74px;
      }
        
}

@media (max-width: 600px){

    .title{
        font-size: 38px;
      }
    .card{
        width: 40px;
        height: 64px;
        font-size: 22px;
      }
      
}

@media (max-width: 500px){

    .title{
        font-size: 28px;
      }
    .card{
        width: 30px;
        height: 54px;
        font-size: 16px;
      }

    .card-value{
        top: 20%;
    }
      
}


@media (max-width: 450px){

    .title{
        font-size: 26px;
      }
    .card{
        width: 30px;
        height: 54px;
        font-size: 16px;
        margin: 6px;
      }

    .card-value{
        top: 20%;
    }
      
}